.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 260px);
    -webkit-transition: all .5s cubic-bezier(.685,.0473,.346,1);
    -o-transition: all .5s cubic-bezier(.685,.0473,.346,1);
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    width: 100%;
    .nav-bar {
        font-size: 22px;
        font-weight: 500;
        color: $blackText;
        padding: 15px;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
        .bar {
            &-left, &-center {
                float: left;
            }
            &-right {
                float: right;
            }
            &-center {
                padding: 2px 10px;
            }
        }
    }
}