.button {
    border: none;
    background: none; 
    &-toggle {

    }
    &-navbar {
        font-size: 22px;
        padding-top: 0;
        padding-bottom: 0;
    }
    &:focus {
        outline: none;
    }
}