$black: #000000;
$blackText: #363F46;
$greyText: #797979;
$white: #FFFFFF;
$lightBlue: #E7F0F6;
$blue: #2878B2;

$activeNav: rgba(255, 255, 255, 0.8);
$hoverNav: rgba(255, 254, 254, 0.35);

$linearBlueBackground: linear-gradient(194.71deg, #2878B2 1.4%, #36A3E1 46.32%, #87D5ED 85.21%);
$linearBlueButton: linear-gradient(270deg, #0062A9 0%, #5BBAFF 100%);